/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222222; }

body {
  margin: 0 0 0 0;
  font-size: responsiveFontSize(16, false);
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection, ::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #0000ee; }
  a:active {
    /* Improve readability when focused and hovered in all browsers: h5bp.com/h */
    outline: 0; }
  a:visited {
    color: #551a8b; }
  a:hover {
    color: #0067ee;
    outline: 0; }
  a:focus {
    outline: thin dotted; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted black; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  font-size: responsiveFontSize(16, false);
  _font-family: 'courier new', monospace; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: responsiveFontSize(12, false);
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0; }
nav ol {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0 0 0 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0 0 0 0; }

fieldset {
  border: 0;
  margin: 0 0 0 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: hand;
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
select, textarea {
  font-family: sans-serif;
  color: #222222;
  font-size: responsiveFontSize(16, false);
  margin: 0 0 0 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button {
  font-family: sans-serif;
  color: #222222;
  font-size: responsiveFontSize(16, false);
  margin: 0 0 0 0;
  vertical-align: baseline;
  *vertical-align: middle;
  /*
   * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
   */
  line-height: normal;
  /*
   * 1. Display hand cursor for clickable form elements
   * 2. Allow styling of clickable form elements in iOS
   * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
   */
  cursor: hand;
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }
  button[disabled] {
    /*
     * Re-set default cursor for disabled elements
     */
    cursor: default; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

input {
  font-family: sans-serif;
  color: #222222;
  font-size: responsiveFontSize(16, false);
  margin: 0 0 0 0;
  vertical-align: baseline;
  *vertical-align: middle;
  /*
   * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
   */
  line-height: normal; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    /*
     * 1. Display hand cursor for clickable form elements
     * 2. Allow styling of clickable form elements in iOS
     * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
     */
    cursor: hand;
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible; }
  input[disabled] {
    /*
     * Re-set default cursor for disabled elements
     */
    cursor: default; }
  input[type="checkbox"], input[type="radio"] {
    /*
     * Consistent box sizing and appearance
     */
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  input::-moz-focus-inner {
    /*
     * Remove inner padding and border in FF3/4: h5bp.com/l
     */
    border: 0;
    padding: 0; }
  input:invalid {
    background-color: #f0dddd; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }
  textarea:valid {
    /* Colors for form validity */ }
  textarea:invalid {
    background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/**************** padding and margin settings *****************

	Setting padding and margins to be added to different sections
	This sections contains individual setting and also a mixin
	to be able to add to different sections

	spacing helpers
	p,m = padding,margin
	a,t,r,b,l,v,h = all,top,right,bottom,left,vertical,horizontal
	s,m,l,n = small(5px),medium(10px),large(20px),none(0px)

	This scss will create an example of the following:
	.pts, .pas, .pvs {
  		padding-top: 5px !important; }

	.ptm, .pam, .pvm {
  		padding-top: 10px !important; }

	.ptl, .pal, .pvl {
  		padding-top: 20px !important; }

**************************************************************/
.pts, .pas, .pvs {
  padding-top: 5px !important; }

.ptm, .pam, .pvm {
  padding-top: 10px !important; }

.ptl, .pal, .pvl {
  padding-top: 20px !important; }

.ptn, .pan, .pvn {
  padding-top: 0px !important; }

.prs, .pas, .phs {
  padding-right: 5px !important; }

.prm, .pam, .phm {
  padding-right: 10px !important; }

.prl, .pal, .phl {
  padding-right: 20px !important; }

.prn, .pan, .phn {
  padding-right: 0px !important; }

.pbs, .pas, .phs {
  padding-bottom: 5px !important; }

.pbm, .pam, .phm {
  padding-bottom: 10px !important; }

.pbl, .pal, .phl {
  padding-bottom: 20px !important; }

.pbn, .pan, .phn {
  padding-bottom: 0px !important; }

.pls, .pas, .pvs {
  padding-left: 5px !important; }

.plm, .pam, .pvm {
  padding-left: 10px !important; }

.pll, .pal, .pvl {
  padding-left: 20px !important; }

.pln, .pan, .pvn {
  padding-left: 0px !important; }

.mts, .mas, .mvs {
  margin-top: 5px !important; }

.mtm, .mam, .mvm {
  margin-top: 10px !important; }

.mtl, .mal, .mvl {
  margin-top: 20px !important; }

.mtn, .man, .mvn {
  margin-top: 0px !important; }

.mrs, .mas, .mhs {
  margin-right: 5px !important; }

.mrm, .mam, .mhm {
  margin-right: 10px !important; }

.mrl, .mal, .mhl {
  margin-right: 20px !important; }

.mrn, .man, .mhn {
  margin-right: 0px !important; }

.mbs, .mas, .mhs {
  margin-bottom: 5px !important; }

.mbm, .mam, .mhm {
  margin-bottom: 10px !important; }

.mbl, .mal, .mhl {
  margin-bottom: 20px !important; }

.mbn, .man, .mhn {
  margin-bottom: 0px !important; }

.mls, .mas, .mvs {
  margin-left: 5px !important; }

.mlm, .mam, .mvm {
  margin-left: 10px !important; }

.mll, .mal, .mvl {
  margin-left: 20px !important; }

.mln, .man, .mvn {
  margin-left: 0px !important; }

/***************** end padding and margin settings *************/
/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }
  .ir br {
    display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
    clip: auto;
    height: auto;
    margin: 0 0 0 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, .ir a[href^="javascript:"]:after, .ir a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
